:root {
  --image-landing: url(https://images.pexels.com/photos/5808/food-healthy-vegetables-village.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  
  /* 
  https://theme.numl.design/
  */
  
  --bg-color: rgba(255,255,255, 1);
  --text-color: rgba(35,53,31, 1);
  --text-soft-color: rgba(65,78,63, 1);
  --text-strong-color: rgba(74,74,74, 1);
  --subtle-color: rgba(246,251,245, 1);
  --border-color: rgba(216,236,213, 1);
  --shadow-color: rgba(162,201,154, 1);
  --input-color: rgba(255,255,255, 1);
  --outline-color: rgba(105,219,57, 1);
  --mark-color: rgba(61,151,0, 0.15);
  --special-color: rgba(61,151,0, 1);
  --special-bg-color: rgba(63,155,0, 1);
  --special-text-color: rgba(255,255,255, 1);
  --special-shadow-color: rgba(68,102,59, 1);
  --special-mark-color: rgba(255,255,255, 0.08);
  --light-color: rgba(213,255,204, 1);
  --dark-color: rgba(51,77,44, 1);
}