:root {
    --bg-color: #E8ECEE;
    --bg1-color: #F3F5F6;
    --title-color: #F9F9F9;
    --txt-color: #00030F;
    --link-color: #000C3D;
}

.ubuntu-normal {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 2.33vw;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);

    margin: 0;
    padding: 0;
}

header {
    background-color: var(--bg1-color);

    position: fixed;

    width: 100vw;
    height: 15vh;

    filter: drop-shadow(0 0 0.75rem #12121255);

    z-index: 10;
}

.logo {
    width: 15vw;

    position: absolute;

    margin: 2.5vh 0 0 10%;
}

header img {
    width: 15vw;
    min-width: 180px;

    filter: drop-shadow(1px 1px 3px #9898ff20);
}

header a {
    text-decoration: none;

    color: var(--txt-color);
}

header p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.4vw;

    float: right;

    margin: 3.9vh 0 0 0;

    background-color: var(--bg-color);

    padding: 2vh;
    margin-right: 10px;

    border-radius: 0.3vw;
}

header p:hover {
    background-color: #e0e0e0;

    transition: 400ms;  
}

#margin {
    margin-right: 11.2%;
}

.imagem {
    height: 100vh;
    max-height: 1250px;

    background-size: cover;

    background:url(https://images.pexels.com/photos/5808/food-healthy-vegetables-village.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

#title {
    color: var(--title-color);

    text-align: center;
    text-shadow: 0 0 10px #000;

    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 3.5vw;

    padding: 40vh 10vw 0;
    margin-top: 0;

    transition: 400ms;
}

.imagem a {
    text-decoration: none;
}

#subtitle {
    color: var(--title-color);

    text-align: center;
    text-shadow: 0 0 10px #000;

    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2.75vw;

    transition: 400ms;

    width: 15vw;
    height: 7.5vh;

    border-style: solid;
    border-radius: 8px;

    background-color: rgba(000, 000, 000, 0.3);

    margin: 0 41.3%;
}

#comecar,
#topico-2,
#sobre-link {
    visibility: hidden;
    padding-bottom: 2%;
}

.topic-1 {
    margin: 10vh 10%;

    background-color: var(--bg1-color);

    border-radius: 8px;

    padding: 0.5vh 0.9vw;
}

#topic-1 {
    color: var(--txt-color);

    text-align: left;

    margin-top: 2vh;
}

#ODS {
    color: var(--txt-color);

    text-align: justify;

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.55vw;
}

#ODS a {
    text-decoration: none;

    color: var(--link-color);
}

.ODS-dir,
.ODS-esq {
    transform: translateY(-10%);
}

.ODS-dir {
    margin-right: 30px;
}

.ODS-esq {
    margin-left: 30px;
}

.videos {
    padding: 0 14vw;
    margin-bottom: 45vh;
}

iframe {
    max-height: 37.5vh;
}

#video-1,
#video-2 {
    border-radius: 8px;
}

#video-1 {
    float: left;
}

#video-2 {
    float: right;
}

.topico-2 {
    padding-bottom: 3vh;
}

.como-ajudar {
    padding: 0 10vw;

    margin-bottom: 100px;
}

#topic-2 {
    color: var(--txt-color);

    text-align: center;
}

.imagem-1,
.imagem-2,
.imagem-3,
.imagem-4,
.imagem-5 {
    background-color: var(--bg1-color);
}

.imagem-1 img,
.imagem-3 img,
.imagem-5 img {
    border-radius: 8px 0px 0px 8px;

    float: left;
}

.imagem-2 img,
.imagem-4 img {
    border-radius: 0px 8px 8px 0px;

    float: right;
}

.imagem-1 img,
.imagem-2 img,
.imagem-3 img,
.imagem-4 img,
.imagem-5 img {  
    width: 23vw;

    margin-right: 2vw;
    margin-left: 30px;

    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.imagem-1 {
    padding: 40px 10px 50px 10px;

    border-radius: 8px 8px 0 0;
}

.imagem-2 {
    padding: 10px 10px 26px 10px;
}

.imagem-3 {
    padding: 10px 10px 70px 10px;

    margin: 0;
}

.imagem-4 {
    padding: 10px 10px 115px 10px;

    margin: 0;
}

.imagem-5 {
    padding: 10px 10px 65px 10px;

    border-radius: 0 0 8px 8px;
}

.sobre {
    background-color: var(--bg1-color);

    margin: 0;
    padding: 0 0 40vh 0;
}

.mim {
    margin: 0 10vw;
    padding: 0 0 5vh 0;

    text-align: center;
}

#sobre-title {
    color: var(--txt-color);

    text-align: center;

    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2.33vw;
}

#meunome {
    color: var(--txt-color);

    text-align: left;

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.94vw;
}

.ladoesq,
.ladodir {
    width: 30vw;

    background-color: var(--bg1-color);
}

.ladoesq {
    float: left;

    margin: 5vh 0 0 10vw;
}

#mps {
    color: var(--txt-color);

    text-align: center;
}

.ladodir {
    float: right;

    margin: 5vh 10vw 0 0;
}